.trailer{
    height: 70vh;
}
.trailer ion-card{
    height: 100%;
    padding: 0;
    margin: 0;
}
.trailer ion-card-content{
    height: 100%;
    margin: 0;
    padding: 0;
}
.trailer ion-text{
    text-align: start;
    font-size: 2em;
}
.trailer-background-img{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.trailer-description{
    transform: translateX(4vw);
    width: 50vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.trailer-description ion-card-title h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
}